@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

body {
    background-color: #444;
    font-family: 'Cutive Mono', monospace;
}

.login {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

input {
    width: 100%;
    margin-bottom: 5px;
    outline: none;
    padding: 5px 10px;
}

input, input::placeholder {
    font-family: 'Cutive Mono', monospace;
}

.custom-btn {
    margin-top: 10px;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    cursor: pointer;
}

.regex-container {
    width: 500px;
    display: none;
    flex-direction: column;
    margin: 50px auto;
}

.message {
    width: fit-content;
    background: #A11616;
    color: black;
    padding: 20px 40px;
    margin-top: 20px;
    display: none;
}